<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | Portafolio de Joana</title>
  
</head>

<body>

  <header>
    <nav>
      <ul>
        <li><a href="../index.md">Inicio</a></li>
        <li><a href="../portafolio.md">Portafolio</a></li>
        <li><a href="../acerca.md">Acerca de mí</a></li>
        <li><a href="../cv.md">CV</a></li>
        <li><a href="../blog.md">Blog</a></li>
        <li><a href="../contacto.md">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; 2025 - Hecho por Joana Barbosa</p>
  </footer>

</body>
</html>